<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.xingtingkai.wallet">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.xingtingkai.wallet.SearchTransactionActivity"
            android:parentActivityName="com.xingtingkai.wallet.MainActivity" >
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>

        <activity
            android:name="com.xingtingkai.wallet.MonthlyTransactionActivity">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
            <meta-data android:name="android.app.searchable"
                android:resource="@xml/searchable"/>
        </activity>
        <activity
            android:name="com.xingtingkai.wallet.AddEditMonthlyBudgetActivity"
            android:parentActivityName="com.xingtingkai.wallet.MonthlyBudgetActivity"
            android:label=""/>
        <activity
            android:name="com.xingtingkai.wallet.MonthlyBudgetActivity"
            android:parentActivityName="com.xingtingkai.wallet.SettingsActivity"
            android:label="Monthly Budget"/>
        <activity
            android:name="com.xingtingkai.wallet.AddEditTypeActivity"
            android:parentActivityName="com.xingtingkai.wallet.TypeActivity"
            android:label=""/>
        <activity
            android:name="com.xingtingkai.wallet.TypeActivity"
            android:parentActivityName="com.xingtingkai.wallet.SettingsActivity"
            android:label="Category"/>
        <activity
            android:name="com.xingtingkai.wallet.AddEditRepeatTransactionActivity"
            android:parentActivityName="com.xingtingkai.wallet.RepeatTransactionActivity"
            android:label="" />
        <activity
            android:name="com.xingtingkai.wallet.RepeatTransactionActivity"
            android:parentActivityName="com.xingtingkai.wallet.SettingsActivity"
            android:label="Recurring Transaction"/>
        <activity
            android:name="com.xingtingkai.wallet.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName="com.xingtingkai.wallet.MainActivity" />
        <activity
            android:name="com.xingtingkai.wallet.AddEditTransactionActivity"
            android:parentActivityName="com.xingtingkai.wallet.MainActivity"
            android:label=""/>
        <activity
            android:name="com.xingtingkai.wallet.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
            <meta-data android:name="android.app.searchable"
                android:resource="@xml/searchable"/>
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.xingtingkai.wallet.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/filepaths" />
        </provider>

        <provider
            android:name="com.xingtingkai.wallet.helper.SearchSuggestionProvider"
            android:authorities="com.xingtingkai.wallet.SearchSuggestionProvider" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>